<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>Hello, I'm Anne!</p>
        <p>I love being creative and making things look visually appealing.</p>
        <p>
          I enjoy writing short stories and working Front End on projects! I love to see everything come together that is visually apealing and easy to understand.</p>
      </p>
    </div>
  </div>
</div>
</div>
