#about {
  text-align: center;
  padding: 16px;
  display: flex;
  justify-content: center;
}

#about h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 40px;
  line-height: 1.8;
  color: #2F242C;
  width: 600px;
}
